/* @import google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* reset global default settings */ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

/*------------------------------------
  @import all others fiels
------------------------------------*/ 
@import './includes/variables';
@import './includes/global-class';
@import './includes/homepage';