/* @import google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* reset global default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------------
  @import all others fiels
------------------------------------*/
/*---------------------------------------
  Global variables for whole project
---------------------------------------*/
/*----------------------------------
  Global classes
----------------------------------*/
header,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
}

.container-100 {
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.section-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.section-title h2 {
  font-size: 45px;
  color: #283747;
  margin-bottom: 15px;
}
.section-title p {
  font-size: 16px;
  color: #747e88;
}

#categiries .all-categories .view-all-categories, #popular-courses .view-course .view-course-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #F1A82C;
  color: #283747;
  font-weight: 600;
  border-radius: 23px;
  position: relative;
  transition: all 400ms;
  overflow: hidden;
}

#categiries .all-categories .view-all-categories::after, #popular-courses .view-course .view-course-btn::after, .header .menu li:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F3B242;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: transform 400ms;
}

/*-------------------------------------
  Home page design general classes
-------------------------------------*/
header.header {
  height: 90px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: all 500ms;
}

.header.scrolled {
  height: 70px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 500ms;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 45px;
  width: auto;
  margin-right: 12px;
}

.header .logo h4 {
  color: #F1A82C;
  font-size: 30px;
}

.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul.menu {
  display: flex;
  align-items: center;
}

.header .menu li {
  list-style-type: none;
}

.header .menu li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 300ms;
}

.header.scrolled .menu li a {
  color: #283747;
}

.header .menu li:not(:last-child) a:hover {
  color: #F1A82C;
}

.header .menu li:last-child a {
  border-radius: 20px;
  transition: background 400ms;
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #fff;
}

.header .menu li:last-child {
  background: #F1A82C;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.header .menu li:last-child::after {
  width: 0;
  transition: width 400ms;
}

.header .menu li:last-child:hover::after {
  width: 100%;
}

/*===============================================
  home seciton design
===============================================*/
#home {
  background: #283747 url(./images/hero-bg.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  margin: -90px 0 70px;
  height: 110vh;
  position: relative;
}
#home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}
#home .home-left-image {
  z-index: 2;
}
#home .home-left-image img:first-child {
  position: absolute;
  bottom: -40px;
  left: 32%;
  z-index: -1;
}
#home .home-left-image img:last-child {
  z-index: -1;
  width: 42%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#home .home-content {
  padding-left: 100px;
}
#home .home-content .home-title {
  font-size: 60px;
  color: #fff;
  font-weight: 800;
  line-height: 1.3em;
}
#home .home-content .home-title + p {
  font-size: 16px;
  color: #fff;
  margin: 15px 0;
}
#home .home-content .home-title ~ a {
  background: #F1A82C;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  margin-top: 10px;
}
#home .home-content .home-title ~ a:hover {
  background: #F3B242;
}

/*===============================================
  ! home seciton design
===============================================*/
/*===============================================
  learn-new-skill seciton design
===============================================*/
#learn-new-skill {
  padding: 70px 0 50px;
}
#learn-new-skill .all-new-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}
#learn-new-skill .all-new-skills .single-skill {
  padding: 40px 30px;
  border-radius: 10px;
  transition: all 400ms;
  box-shadow: #6c6c8f0d 0px 4px 16px, #9090b10d 0px 8px 32px;
}
#learn-new-skill .all-new-skills .single-skill .skill-icon {
  text-align: center;
}
#learn-new-skill .all-new-skills .single-skill .skill-icon .far,
#learn-new-skill .all-new-skills .single-skill .skill-icon .bx {
  display: inline-block;
  padding: 20px;
  font-size: 40px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
}
#learn-new-skill .all-new-skills .single-skill .skill-content {
  text-align: center;
}
#learn-new-skill .all-new-skills .single-skill .skill-content h3 {
  font-size: 24px;
  color: #283747;
  font-weight: normal;
  margin-bottom: 15px;
}
#learn-new-skill .all-new-skills .single-skill:hover {
  box-shadow: #11111a0d 0px 6px 16px, #11111a0d 0px 10px 32px;
}

/*===============================================
  ! learn-new-skill seciton design
===============================================*/
/*===============================================
  popular courses seciton design
===============================================*/
#popular-courses {
  padding: 50px;
}
#popular-courses .all-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 40px;
}
#popular-courses .all-courses .single-course {
  padding: 30px;
  text-align: center;
  box-shadow: #7f7f910d 0px 2px 10px, #a2a2b80d 0px 4px 12px;
  transition: box-shadow 400ms;
  border-radius: 10px;
}
#popular-courses .all-courses .single-course .course-image {
  overflow: hidden;
  margin-bottom: 20px;
}
#popular-courses .all-courses .single-course .course-image img {
  transition: transform 400ms;
}
#popular-courses .all-courses .single-course .course-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #283747;
  font-weight: normal;
  transition: color 400ms;
}
#popular-courses .all-courses .single-course .course-title:hover {
  color: #F1A82C;
}
#popular-courses .all-courses .single-course .course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popular-courses .all-courses .single-course .course-info .bx {
  padding: 5px;
  color: #F1A82C;
  border: 1px solid;
  border-radius: 50%;
}
#popular-courses .all-courses .single-course .course-info span:not(.course-price) {
  color: #747e88;
}
#popular-courses .all-courses .single-course .course-info .course-price {
  font-weight: 600;
  font-size: 17px;
  color: #F1A82C;
}
#popular-courses .all-courses .single-course:hover {
  box-shadow: #11111a0d 0px 6px 16px, #11111a0d 0px 10px 32px;
}
#popular-courses .all-courses .single-course:hover .course-image img {
  transform: scale(1.3);
}
#popular-courses .view-course {
  padding: 50px 0 20px;
  display: flex;
  justify-content: center;
}
#popular-courses .view-course .view-course-btn::after {
  z-index: -1;
  transform-origin: top right;
  transform: scaleX(0);
  transition: transform 400ms;
}
#popular-courses .view-course .view-course-btn:hover {
  color: #fff;
}
#popular-courses .view-course .view-course-btn:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*===============================================
  ! popular courses seciton design
===============================================*/
/*===============================================
  welcome to online learn seciton design
===============================================*/
#welcome-online-learn {
  padding: 50px 0;
}
#welcome-online-learn .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  align-items: center;
}
#welcome-online-learn .welcome-detail h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
#welcome-online-learn .welcome-detail p {
  font-size: 16px;
  color: #747e88;
  margin-bottom: 25px;
}
#welcome-online-learn .welcome-detail a {
  border-bottom: 2px solid #F1A82C;
  padding: 3px 0;
  font-weight: 600;
  transition: all 400ms;
}
#welcome-online-learn .welcome-detail a i {
  transition: all 400ms;
  padding-left: 5px;
}
#welcome-online-learn .welcome-detail a:hover {
  color: #F1A82C;
}
#welcome-online-learn .welcome-detail a:hover i {
  padding-left: 15px;
}
#welcome-online-learn .welcome-img {
  text-align: right;
}
#welcome-online-learn img {
  width: 85%;
}

/*===============================================
  ! welcome to online learn seciton design
===============================================*/
/*===============================================
  categories seciton design
===============================================*/
#categiries {
  padding: 50px 0;
}
#categiries .catagory-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
#categiries .catagory-wrapper .single-category {
  box-shadow: #b0b0c21a 0px 0px 16px;
  padding: 50px 40px;
  text-align: center;
  transition: box-shadow 400ms;
}
#categiries .catagory-wrapper .single-category i {
  font-size: 3em;
  display: inline-block;
  color: #283747;
}
#categiries .catagory-wrapper .single-category h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  color: #283747;
}
#categiries .catagory-wrapper .single-category:hover {
  box-shadow: #42425a1a 0px 0px 16px;
}
#categiries .all-categories {
  padding: 40px 0 20px;
  display: flex;
  justify-content: center;
}
#categiries .all-categories .view-all-categories::after {
  z-index: -1;
  transform-origin: top right;
  transform: scaleX(0);
  transition: transform 400ms;
}
#categiries .all-categories .view-all-categories:hover {
  color: #fff;
}
#categiries .all-categories .view-all-categories:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*===============================================
   !  categories seciton design
===============================================*/
/*===============================================
   makes different seciton design
===============================================*/
#makes-different {
  padding: 100px 0;
  justify-content: flex-start;
}
#makes-different .container {
  justify-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
#makes-different video {
  width: 100%;
}
#makes-different .video {
  position: relative;
}
#makes-different .video .bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 20px;
  background: #fff;
  outline: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
#makes-different .video .bx:hover {
  outline-offset: 8px;
  outline-color: #fff;
}
#makes-different .video .bx.active {
  background: #ffffffaf;
  top: 0%;
  left: 0%;
  transform: translate(10%, 10%);
}
#makes-different .contents h2.title {
  font-size: 45px;
  color: #283747;
}
#makes-different .contents h2.title + p {
  color: #000;
}
#makes-different .contents .icon-box {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
#makes-different .contents .icon-box .bx {
  font-size: 40px;
  box-shadow: #11111a1a 0px 0px 16px;
  border-radius: 50%;
  padding: 10px;
}
#makes-different .contents .icon {
  margin-right: 20px;
}
#makes-different .contents .text h3 {
  font-weight: 600;
  font-size: 22px;
}

/*===============================================
   makes different seciton design
===============================================*/
/*===============================================
  instructors seciton design
===============================================*/
#instructors {
  padding: 60px 0;
}
#instructors .instructor-wrapper {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
#instructors .instructor-img {
  position: relative;
  overflow: hidden;
}
#instructors .instructor-img img {
  width: 100%;
  transition: transform 0.4s;
}
#instructors .instructor-img .follow {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: transform 0.4s;
}
#instructors .instructor-img .follow .bx {
  font-size: 22px;
  color: #283747;
  transition: color 0.4s;
  padding: 15px;
}
#instructors .instructor-img .follow .bx:hover {
  color: #F1A82C;
}
#instructors .instructor-img .follow-1 {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-left: 2px solid #F1A82C;
}
#instructors .instructor-img .follow-2 {
  top: 0;
  right: 0;
  transform: translateX(100%);
  border-right: 2px solid #F1A82C;
}
#instructors .instructor-img .follow-3 {
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-left: 2px solid #F1A82C;
}
#instructors .instructor-img .follow-4 {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  border-right: 2px solid #F1A82C;
}
#instructors .single-instructor:hover .follow {
  transform: translate(0%);
}
#instructors .single-instructor:hover img {
  transform: scale(1.3);
}
#instructors .instructor-info {
  padding: 10px 0;
  text-align: center;
}
#instructors .instructor-info .instructor-name {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}
#instructors .instructor-info .instructor-title {
  font-weight: 500;
}

/*===============================================
  ! instructors seciton design
===============================================*/
/*===============================================
  Blogs seciton design
===============================================*/
#blogs {
  padding: 70px 0;
}
#blogs .blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
#blogs .blogs-wrapper .single-blog {
  box-shadow: #11111a1a 0px 0px 16px;
  transition: all 400ms;
}
#blogs .blogs-wrapper .blog-img {
  overflow: hidden;
}
#blogs .blogs-wrapper .blog-img img {
  transition: transform 600ms;
}
#blogs .blogs-wrapper .single-blog:hover {
  box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
  transform: translateY(-10px);
}
#blogs .blogs-wrapper .single-blog:hover .blog-img img {
  transform: scale(1.4);
}
#blogs .blogs-wrapper .blog-content {
  padding: 15px 15px 25px;
  background: #fff;
}
#blogs .blogs-wrapper .blog-content h3 {
  margin-bottom: 15px;
  font-weight: 600;
  transition: all 400ms;
  color: #283747;
}
#blogs .blogs-wrapper .blog-content h3:hover {
  color: #F1A82C;
}
#blogs .blogs-wrapper .blog-content p {
  font-size: 15px;
}

/*===============================================
  ! Blogs seciton design
===============================================*/
/*===============================================
  Contact seciton design
===============================================*/
#contact {
  padding: 70px 0;
}
#contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
#contact .container .section-title {
  width: 100%;
}
#contact .container .section-title h2 {
  font-size: 30px;
}
#contact .contact-details {
  margin-top: 20px;
  text-align: center;
}
#contact .contact-details h3 {
  font-size: 22px;
  font-weight: 500;
  color: #283747;
  margin-bottom: 15px;
}
#contact .contact-form .form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
#contact .contact-form .form-field {
  margin-bottom: 20px;
}
#contact .contact-form .form-field .input-field {
  width: 100%;
  padding: 15px;
  border: 1px solid;
  color: #000;
  outline: 1px solid transparent;
  transition: all 300ms;
}
#contact .contact-form .form-field .input-field:focus {
  border-color: #F1A82C;
  outline-color: #F1A82C;
  outline-offset: 2px;
}
#contact .contact-form .form-field textarea {
  height: 125px;
}
#contact .contact-form .form-filed:last-child {
  text-align: right;
}
#contact .contact-form .form-filed:last-child .form-submit {
  padding: 10px 30px;
  border: 0;
  border-radius: none;
  background: #000;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  transition: all 400ms;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 1px solid transparent;
}
#contact .contact-form .form-filed:last-child .form-submit:hover {
  background: #F1A82C;
  outline-color: #F1A82C;
  outline-offset: 3px;
}

/*===============================================
  ! contact seciton design
===============================================*/
footer {
  padding: 30px 0;
  background: #283747;
  text-align: center;
}
footer p {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

/*# sourceMappingURL=index.css.map */
