
/*----------------------------------
  Global classes
----------------------------------*/
header,
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90%;
}
.container-100{
  width: 100%;
}

img{
  max-width: 100%;
}
a{
  text-decoration: none;
}