
/*-------------------------------------
  Home page design general classes
-------------------------------------*/


//-------------------------
// header area 
//-------------------------
header.header{
  height: 90px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: all 500ms;
}
.header.scrolled{
  height: 70px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 500ms;
}
.header .logo{
  display: flex;
  align-items: center;
}
.header .logo img{
  height: 45px;
  width: auto;
  margin-right: 12px;
}
.header .logo h4{
  color: $color-primary;
  font-size: 30px;
}

.header .navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul.menu{
  display: flex;
  align-items: center;
}
.header .menu li{
  list-style-type: none;
}
.header .menu li a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 300ms;
}
.header.scrolled .menu li a{
  color: $color-dark;
}
.header .menu li:not(:last-child) a:hover{
  color: $color-primary;
}
.header .menu li:last-child a{
  border-radius: 20px;
  transition: background 400ms;
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #fff;
}
.header .menu li:last-child{
  background: $color-primary;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.header .menu li:last-child::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  background: $color-secondary;
  top: 0;
  left: 0;
  border-radius: 20px;
  // z-index: ;
  transition: width 400ms;
}
.header .menu li:last-child:hover::after{
  width: 100%;
}



/*===============================================
  home secito design
===============================================*/ 
#home{
  background: $color-dark url(./images/hero-bg.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  margin: -90px 0 70px;
  // z-index: -1;
  // padding-top: 200px;
  height: 110vh;
  position: relative;
  // display: none;

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
  .home-left-image{
    //  position: relative;
     z-index: 2;

  img:first-child{
      position: absolute;
      bottom: -40px;
      left: 32%;
      z-index: -1;
    }
    img:last-child{
      z-index: -1;
      width: 42%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .home-content{
    padding-left: 100px;
    .home-title{
      font-size: 60px;
      color: #fff;
      font-weight: 800;
      line-height: 1.3em;
    }
    .home-title + p{
      font-size: 16px;
      color: #fff;
      margin: 15px 0;
    }
    .home-title ~ a{
      background: $color-primary;
      display: inline-block;
      padding: 10px 30px;
      border-radius: 20px;
      color: #fff;
      margin-top: 10px;
    }
    .home-title ~ a:hover{
      background: $color-secondary;
    }
  }

}
/*===============================================
  ! home secito design
===============================================*/ 