
/*-------------------------------------
  Home page design general classes
-------------------------------------*/


//-------------------------
// header area 
//-------------------------
header.header{
  height: 90px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: all 500ms;
}
.header.scrolled{
  height: 70px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 500ms;
}
.header .logo{
  display: flex;
  align-items: center;
}
.header .logo img{
  height: 45px;
  width: auto;
  margin-right: 12px;
}
.header .logo h4{
  color: $color-primary;
  font-size: 30px;
}

.header .navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul.menu{
  display: flex;
  align-items: center;
}
.header .menu li{
  list-style-type: none;
}
.header .menu li a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 300ms;
}
.header.scrolled .menu li a{
  color: $color-dark;
}
.header .menu li:not(:last-child) a:hover{
  color: $color-primary;
}
.header .menu li:last-child a{
  border-radius: 20px;
  transition: background 400ms;
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #fff;
}
.header .menu li:last-child{
  background: $color-primary;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.header .menu li:last-child::after{
  @extend %after-effect;
  width: 0;
  transition: width 400ms;

}
.header .menu li:last-child:hover::after{
  width: 100%;
}



/*===============================================
  home seciton design
===============================================*/ 
#home{
  background: $color-dark url(./images/hero-bg.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  margin: -90px 0 70px;
  // z-index: -1;
  // padding-top: 200px;
  height: 110vh;
  position: relative;
  // display: none;

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
  .home-left-image{
    //  position: relative;
     z-index: 2;

  img:first-child{
      position: absolute;
      bottom: -40px;
      left: 32%;
      z-index: -1;
    }
    img:last-child{
      z-index: -1;
      width: 42%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .home-content{
    padding-left: 100px;
    .home-title{
      font-size: 60px;
      color: #fff;
      font-weight: 800;
      line-height: 1.3em;
    }
    .home-title + p{
      font-size: 16px;
      color: #fff;
      margin: 15px 0;
    }
    .home-title ~ a{
      background: $color-primary;
      display: inline-block;
      padding: 10px 30px;
      border-radius: 20px;
      color: #fff;
      margin-top: 10px;
    }
    .home-title ~ a:hover{
      background: $color-secondary;
    }
  }

}
/*===============================================
  ! home seciton design
===============================================*/


/*===============================================
  learn-new-skill seciton design
===============================================*/
#learn-new-skill{
  padding: 70px 0 50px;

  .all-new-skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;

    .single-skill{
      padding: 40px 30px;
      border-radius: 10px;
      transition: all 400ms;
      box-shadow: #6c6c8f0d 0px 4px 16px, #9090b10d 0px 8px 32px;
      
      .skill-icon{
        text-align: center;
        .far,
        .bx{
          display: inline-block;
          padding: 20px;
          font-size: 40px;
          background: #fff;
          margin-bottom: 30px;
          border-radius: 50%;
          box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
        }
      }
      .skill-content{
        text-align: center;

        h3{
          font-size: $blog-title-size;
          color: $color-dark;
          font-weight: normal;
          margin-bottom: 15px;
        }
      }
    }
    .single-skill:hover {
      box-shadow: #11111a0d 0px 6px 16px, #11111a0d 0px 10px 32px;
    }
  }
}
/*===============================================
  ! learn-new-skill seciton design
===============================================*/ 



/*===============================================
  popular courses seciton design
===============================================*/ 
#popular-courses{
  padding: 50px;

  .all-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 40px;

    .single-course{
      padding: 30px;
      text-align: center;
      box-shadow: #7f7f910d 0px 2px 10px, #a2a2b80d 0px 4px 12px;
      transition: box-shadow 400ms;
      border-radius: 10px;

      .course-image{
        overflow: hidden;
        margin-bottom: 20px;
      }
      .course-image img{
        transition: transform 400ms;
      }
      .course-title{
        font-size: $blog-title-size;
        margin-bottom: 20px;
        color: $color-dark;
        font-weight: normal;
        transition: color 400ms;
      }
      .course-title:hover{
        color: $color-primary;
      }

      .course-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bx{
          padding: 5px;
          color: $color-primary;
          border: 1px solid;
          border-radius: 50%;
        }
        span:not(.course-price){
          color: $color-liht-dark;
        }
        .course-price{
          font-weight: 600;
          font-size: 17px;
          color: $color-primary;
        }
      }
    }
    .single-course:hover{
      box-shadow: #11111a0d 0px 6px 16px, #11111a0d 0px 10px 32px;
      .course-image img{
        transform: scale(1.3);
      }
    }
  }
  
  .view-course{
    padding: 50px 0 20px;
    display: flex;
    justify-content: center;

    .view-course-btn{
      @extend %view-btn;
    }
    .view-course-btn::after{
      @extend %after-effect;
      z-index: -1;
      transform-origin: top right;
      transform: scaleX(0);
      transition: transform 400ms;
    }
    .view-course-btn:hover{
      color: #fff;
    }
    .view-course-btn:hover::after{
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

/*===============================================
  ! popular courses seciton design
===============================================*/ 

/*===============================================
  welcome to online learn seciton design
===============================================*/ 

#welcome-online-learn{
  padding: 50px 0;
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    align-items: center;
  }
  .welcome-detail{
    h2{
      font-size: $section-title-size;
      margin-bottom: 20px;
    }
    p{
      font-size: 16px;
      color: $color-liht-dark;
      margin-bottom: 25px;
    }
    a{
      border-bottom: 2px solid $color-primary;
      padding: 3px 0;
      font-weight: 600;
      transition: all 400ms;
      i{
        transition: all 400ms;
        padding-left: 5px;
      }
    }
    a:hover{
      color: $color-primary;
      i{
        padding-left: 15px;
      }
    }
  }
  .welcome-img{
    text-align: right;
  }
  img{
    width: 85%;
  }
}

/*===============================================
  ! welcome to online learn seciton design
===============================================*/ 


/*===============================================
  categories seciton design
===============================================*/ 
#categiries{
  padding: 50px 0;

  .catagory-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    .single-category{
      box-shadow: #b0b0c21a 0px 0px 16px;
      padding: 50px 40px;
      text-align: center;
      transition: box-shadow 400ms;
      i{
        font-size: 3em;
        display: inline-block;
        color: $color-dark;
      }
      h3{
        font-size: $blog-title-size;
        font-weight: normal;
        margin-top: 20px;
        color: $color-dark;
      }
    }
    .single-category:hover{
      box-shadow: #42425a1a 0px 0px 16px;
    }
  }
  .all-categories{
    padding: 40px 0 20px;
    display: flex;
    justify-content: center;
    .view-all-categories{
      @extend %view-btn;
    }
    .view-all-categories::after{
      @extend %after-effect;
      z-index: -1;
      transform-origin: top right;
      transform: scaleX(0);
      transition: transform 400ms;
    }
    .view-all-categories:hover{
      color: #fff;
    }
    .view-all-categories:hover::after{
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

/*===============================================
   !  categories seciton design
===============================================*/ 



/*===============================================
   makes different seciton design
===============================================*/ 
#makes-different{
  padding: 100px 0;
  justify-content: flex-start;
  .container{
    justify-self: flex-start;
    // width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  video{
    width: 100%;
    // height: 100%;
  }
  .video{
    position: relative;
    .bx{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      padding: 20px;
      background: #fff;
      outline: 2px solid transparent;
      transition: all .3s;
      cursor: pointer;
    }
    .bx:hover{
      outline-offset: 8px;
      outline-color: #fff;
      // border-radius: 50%;
    }
    .bx.active{
      background: #ffffffaf;
      top: 0%;
      left: 0%;
      transform: translate(10%, 10%);
    }
  }
  .contents{
    h2.title{
      font-size: $section-title-size;
      color: $color-dark;
    }
    h2.title+p{
     color: #000;
    }

    .icon-box{
      display: flex;
      margin-top: 30px;
      align-items: center;

      .bx{
        font-size: 40px;
        box-shadow: #11111a1a 0px 0px 16px;
        border-radius: 50%;
        padding: 10px;
      }
    }
    .icon{
      margin-right: 20px;
    }
    .text{
      h3{
        font-weight: 600;
        font-size: 22px;
      }
    }
  }
}

/*===============================================
   makes different seciton design
===============================================*/ 




/*===============================================
  instructors seciton design
===============================================*/ 
#instructors{
  padding: 60px 0;

  .instructor-wrapper{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .instructor-img{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      transition: transform .4s;
    }
    .follow{
      position: absolute;
      display: flex;
      flex-direction: column;
      background: #fff;
      // border-left: 3px solid #ee028c;
      transition: transform .4s;
      // width: 20px;

      .bx{
        font-size: 22px;
        color: $color-dark;
        transition: color .4s;
        padding: 15px;
      }
      .bx:hover{
        color: $color-primary;
      }
    }
    .follow-1{
      top: 0;
      left: 0;
      transform: translateX(-100%);
      border-left: 2px solid $color-primary;
    }
    .follow-2{
      top: 0;
      right: 0;
      transform: translateX(100%);
      border-right: 2px solid $color-primary;
    }
    .follow-3{
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      border-left: 2px solid $color-primary;
    }
    .follow-4{
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      border-right: 2px solid $color-primary;
    }
  }
  .single-instructor:hover{
    .follow{
      transform: translate(0%);
    }
    
    img{
      transform: scale(1.3);
    }
  }
  .instructor-info{
    padding: 10px 0;
    text-align: center;
    .instructor-name{
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 5px;
    }
    .instructor-title{
      font-weight: 500;
    }
  }
}
/*===============================================
  ! instructors seciton design
===============================================*/ 



/*===============================================
  Blogs seciton design
===============================================*/ 
#blogs{
  padding: 70px 0;

  .blogs-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .single-blog{
      box-shadow: #11111a1a 0px 0px 16px;
      transition: all 400ms;
    }
    .blog-img{
      overflow: hidden;
    }
    .blog-img img{
      transition: transform 600ms;
    }
    .single-blog:hover{
      box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
      transform: translateY(-10px);
      .blog-img img{
        transform: scale(1.4);
      }
    }
    .blog-content{
      padding: 15px 15px 25px;
      background: #fff;

      h3{
        margin-bottom: 15px;
        font-weight: 600;
        transition: all 400ms;
        color: $color-dark;
      }
      h3:hover{
        color: $color-primary;
      }
      p{
        font-size: 15px;
      }
    }
  }
  
}
/*===============================================
  ! Blogs seciton design
===============================================*/ 



/*===============================================
  Contact seciton design
===============================================*/
#contact{
  padding: 70px 0;
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    .section-title{
      width: 100%;
      h2{
        font-size: 30px;
      }
    }
  }
  .contact-details{
    margin-top: 20px;
    text-align: center;
    h3{
      font-size: 22px;
      font-weight: 500;
      color: $color-dark;
      margin-bottom: 15px;
    }
  }
  .contact-form{
    .form-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    .form-field{
      margin-bottom: 20px;
      .input-field{
        width: 100%;
        padding: 15px;
        border: 1px solid;
        color: #000;
        outline: 1px solid transparent;
        transition: all 300ms;
      }
      .input-field:focus{
        border-color: $color-primary;
        outline-color: $color-primary;
        outline-offset: 2px;
      }
      textarea{
        height: 125px;
      }
    }
    .form-filed:last-child{
      text-align: right;
      .form-submit{
        padding: 10px 30px;
        border: 0;
        border-radius: none;
        background: #000;
        color: #fff;
        display: inline-block;
        cursor: pointer;
        transition: all 400ms;
        text-transform: uppercase;
        letter-spacing: 2px;
        outline: 1px solid transparent;
      }
      .form-submit:hover{
        background: $color-primary;
        outline-color: $color-primary;
        outline-offset: 3px;
      }
    }
    
  }
}
/*===============================================
  ! contact seciton design
===============================================*/ 



// footer

footer{
  padding: 30px 0;
  background: $color-dark;
  text-align: center;
  p{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
}








