
/*---------------------------------------
  Global variables for whole project
---------------------------------------*/

//  colors
$color-primary: #F1A82C;
$color-secondary: #F3B242;
$color-liht-dark: #747e88;
$color-dark: #283747;


// font
$section-title-size: 45px;
$blog-title-size: 24px;